.fiche-logement {
    width: auto;

    margin-left: 100px;
    margin-right: 100px;

    @include touch-pad-only {
        margin-left: 30px;
        margin-right: 30px;
    }

    @include mobile-only {
        margin-left: 20px;
        margin-right: 20px;
    }

    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        align-content: center;

        @include mobile-only {
            flex-direction: column;

            margin-top: 6px;
            margin-bottom: 6px;
        }

        margin-top: 30px;
        margin-bottom: 25px;

        &__location-infos {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            width: 100%;

            &__presentation {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: flex-start;
                align-content: flex-start;

                gap: 12px;

                @include mobile-only {
                    gap: 8px;
                }

                &__title {
                    margin: 0;
                    @include Montserrat(medium, 36px);
                    color: $color-primary;

                    @include touch-pad-only {
                        font-size: 25px;
                    }

                    @include mobile-only {
                        font-size: 18px;
                    }
                }
                &__localisation {
                    @include Montserrat(medium, 18px);
                    color: $color-primary;

                    @include touch-pad-only {
                        font-size: 16px;
                    }

                    @include mobile-only {
                        font-size: 14px;
                    }
                }
            }

            &__tags-list {
                padding: 0;
                margin: 0;
                margin-top: 20px;

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
                width: 100%;

                gap: 10px;

                @include mobile-only {
                    flex-wrap: wrap;
                    width: 100%;
                    margin-top: 10px;
                    gap: 5px 7px;
                }

                &__item {
                    list-style: none;
                    color: #ffffff;
                    background: $color-primary;
                    border-radius: 10px;
                    padding: 5px 6%;
                    white-space: nowrap;

                    @include Montserrat(medium, 14px);

                    @include touch-pad-only {
                        font-size: 12px;
                    }

                    @include mobile-only {
                        font-size: 10px;
                        padding: 2px 5%;
                        border-radius: 5px;
                    }
                }
            }
        }

        &__infos {
            display: flex;
            align-items: stretch;
            justify-content: center;
            flex-direction: column;

            margin-left: 5px;

            @include mobile-only {
                margin-top: 16px;
                flex-direction: row-reverse;
                align-items: baseline;
                justify-content: space-between;
            }

            &__profil {
                @include flex-center(row);
                gap: 10px;
                &__name {
                    @include Montserrat(medium, 18px);
                    color: $color-primary;
                    height: 100%;
                    white-space: pre;
                    margin-top: 25px;

                    @include touch-pad-only {
                        font-size: 15px;
                    }

                    @include mobile-only {
                        font-size: 12px;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: baseline;

        gap: 8%;

        margin-bottom: 20px;

        @include mobile-only {
            margin-top: 16px;
            margin-bottom: 70px;
            flex-direction: column;
            gap: 20px;
        }

        &__description {
            margin: 0;
            padding: 0;
        }

        &__list {
            margin: 0;
            padding: 0;
            &__item {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}
