.header-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 40px 100px;

    @include touch-pad-only {
        padding: 30px;
    }

    @include mobile-only {
        padding: 20px;
    }

    &__nav {
        @include flex-center(row);

        &__liste {
            @include flex-center(row);
            gap: 15px;
            &__item {
                list-style: none;

                &__link {
                    text-decoration: none;
                    @include Montserrat(medium, 24px);
                    color: $color-primary;
                    white-space: nowrap;

                    @include touch-pad-only {
                        font-size: 20px;
                    }

                    @include mobile-only {
                        font-size: 15px;
                        text-transform: uppercase;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                    &--active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
